dotenv.config()
PORT=3000
NODE_ENV=development

# Microservices URLs
USER_SERVICE_URL=http://localhost:3001
BOOKING_SERVICE_URL=http://localhost:3002

# Redis Config
REDIS_URL=redis://localhost:6379

# JWT Config
JWT_SECRET=supersecretjwtkey123!
ACCESS_TOKEN_COOKIE_NAME=accessToken
