PORT=3004
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000

# ElasticSearch Configuration
ELASTICSEARCH_NODE="http://localhost:9200"

# Kafka Configuration
KAFKA_CLIENT_ID="search-service-consumer"
KAFKA_BROKERS="localhost:9092"
KAFKA_GROUP_ID="search-group"
