PORT=3006
NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:3000
DATABASE_URL="postgresql://admin:irctcpass@localhost:5432/postgres?schema=public"
REDIS_URL="redis://localhost:6379"
KAFKA_CLIENT_ID="booking-service"
KAFKA_BROKERS="localhost:9092"
KAFKA_GROUP_ID="booking-group"
INVENTORY_SERVICE_URL="http://localhost:3005"
PAYMENT_SERVICE_URL="http://localhost:3007"
